In [1]:
print('Hello World My Name is Ishak Saad')

Hello World

In [17]:
my_name = 'ishak'
my_age = 22

print(my_name)
print(my_age)

ishak
22

In [18]:
my_name

'ishak'

In [19]:
my_name
my_age

22

In [22]:
degree = 51

if degree < 50:
    print('You have failed')
elif degree >= 50:
    print('you have succeeded')
elif degree == 100:
    print('you are excellent')
elif degree < 0 or degeree > 100 :
    print('wrong data')
else:
    print('somthing went wrong')

you have succeeded

In [39]:
animals = ['dog', 'cat', 'mouse', 'elephant']

for animal in animals:
    print(animal)

dog
cat
mouse
elephant

In [33]:
animals[1]

'cat'

In [34]:
animals[0:4]

['dog', 'cat', 'mouse', 'elephant']

In [35]:
animals[2:3]

['mouse']

In [46]:
animals.append("goat")
animals

['dog', 'cat', 'bat', 'mouse', 'elephant', 'goat']

In [45]:
animals.insert(2, 'bat')
animals

['dog', 'cat', 'bat', 'mouse', 'elephant']

In [51]:
long_animals_names = []
for animal in animals:
    if len(animal) > 3:
        long_animals_names.append(animal)

long_animals_names

['mouse', 'elephant', 'goat']

In [52]:

animal_pairs = []
for first_animal_name in animals:
    for second_animal_animal in animals:
        animal_pairs.append(
            (first_animal_name , second_animal_animal)
        )

animal_pairs

[('dog', 'dog'),
 ('dog', 'cat'),
 ('dog', 'bat'),
 ('dog', 'mouse'),
 ('dog', 'elephant'),
 ('dog', 'goat'),
 ('cat', 'dog'),
 ('cat', 'cat'),
 ('cat', 'bat'),
 ('cat', 'mouse'),
 ('cat', 'elephant'),
 ('cat', 'goat'),
 ('bat', 'dog'),
 ('bat', 'cat'),
 ('bat', 'bat'),
 ('bat', 'mouse'),
 ('bat', 'elephant'),
 ('bat', 'goat'),
 ('mouse', 'dog'),
 ('mouse', 'cat'),
 ('mouse', 'bat'),
 ('mouse', 'mouse'),
 ('mouse', 'elephant'),
 ('mouse', 'goat'),
 ('elephant', 'dog'),
 ('elephant', 'cat'),
 ('elephant', 'bat'),
 ('elephant', 'mouse'),
 ('elephant', 'elephant'),
 ('elephant', 'goat'),
 ('goat', 'dog'),
 ('goat', 'cat'),
 ('goat', 'bat'),
 ('goat', 'mouse'),
 ('goat', 'elephant'),
 ('goat', 'goat')]

In [55]:
student_grade = ('Alice', 'Spanish', 'A-')
student_grade

('Alice', 'Spanish', 'A-')

In [56]:
student_grade.append('IU Bloomington')

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
del student_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [58]:
student_grade[2] = 'C'

TypeError: 'tuple' object does not support item assignment

In [59]:
student_grade = ('Alice', 'Spanish', 'A-')
student_name, subject, grade = student_grade

print(student_name)
print(subject)
print(grade)

Alice
Spanish
A-

In [60]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
              'on getting an', grade,
              'in', subject)

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [61]:
for student_grade in student_grades:
    if student_grade[2].startswith('A'):
        print('Congratulations', student_grade[0],
              'on getting an', student_grade[2],
              'in', student_grade[1])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [62]:
foreign_languages = {
    'Alice': 'Spanish',
    'Bob': 'French',
    'Carol': 'Italian',
    'Dave': 'Italian',
}

In [63]:
foreign_languages['Carol']

'Italian'

In [64]:
foreign_languages['Zeke']

KeyError: 'Zeke'

In [66]:
'Bob' in foreign_languages

True

In [67]:
foreign_languages['Esther'] = 'French'
foreign_languages

{'Alice': 'Spanish',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'French'}

In [68]:
del foreign_languages['Bob']
foreign_languages

{'Alice': 'Spanish', 'Carol': 'Italian', 'Dave': 'Italian', 'Esther': 'French'}

In [69]:
foreign_languages['Esther'] = 'Italian'
foreign_languages

{'Alice': 'Spanish',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'Italian'}

In [70]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [72]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [74]:
student_grade = ('Alice', 'Spanish', 'A')

In [75]:

student_name, subject, grade = student_grades[0]
print(student_name, 'got a grade of', grade, 'in', subject)

Alice got a grade of A in Spanish

In [76]:

record = {
    'name': 'Alice',
    'subject': 'Spanish',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Alice got a grade of A in Spanish

In [77]:

student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

In [81]:
student_grades[1]

('Bob', 'French', 'C')

In [82]:
student_grades[1][2]

'C'

In [83]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

In [78]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [79]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Alice': {'subject': 'Spanish', 'grade': 'A'},
 'Bob': {'subject': 'French', 'grade': 'C'},
 'Carol': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'Italian', 'grade': 'A-'}}

In [86]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

In [87]:
student_course_grades['Alice', 'Math'] = 'A'
student_course_grades['Alice', 'History'] = 'B'
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [88]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    # If there is no report card for a student,
    # we need to create a blank one
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade
student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [89]:

student_report_cards['Alice']

{'Spanish': 'A'}